_site
.sass-cache
.jekyll-cache
.jekyll-metadata
# vendor
assets/images/chris.jpg
# assets/images/junha.jpeg
# assets/images/minsu.jpg
# assets/images/jaesik.jpg
assets/images/anima.png
# assets/images/seungjoo.jpeg

docs/about_paper/comparing_plenoxel.md
docs/about_paper/memory.md

docs/visualization/perf_scannet.md
docs/demo.md
docs/ethic.md

docs/rebuttal