*logs/*
logs 
*wandb/*
*vscode*
*pycache*
*swap-pane*
*.idea*
logs_collection
*build*
*.egg-info*
*.eggs*
*_debug*

cache/*
!cache/.gitkeep
data/*
!data/.gitkeep
dataloader/co3d_lists/*
!dataloader/co3d_lists/.gitkeep
*.ipynb_checkpoints*

playground/*
render/*